# build output dir; if you edit distDir in package.json, make sure to update here too
/dist/

# used for Vite cache
/var/

# node_modules dir at any level
node_modules/

# =========================================================#
# do not add lib/ here, there is a lib/.gitignore on purpose
# =========================================================#

# SQLite database (created on first run)
/data/

# Playwright output
/test-results/
/playwright-report/
